.page-header {
    height: 50px;
    width: -webkit-fill-available;
    max-width: 920px;
    margin: 10px 8px 10px 8px;
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr;
    text-transform: uppercase;
    color: #707070;

    >.page-header-line {
        position: relative;
        width: 4px;
        height: 40px;
        top: 1px;
        left: 9px;
        border-radius: 4px;
        background-color: var(--secondary-red);
        box-shadow: var(--box-shadow);
    }

    >.page-header-scroll {
        width: 100%;
        display: grid;
        overflow-x: scroll;
        overflow-y: hidden;
        mask-image: var(--header-title-mask);

        >h1 {
            margin-bottom: -3px;
            text-shadow: var(--text-shadow);
            filter: var(--drop-shadow);
            white-space: nowrap;
        }
    }
}

@media screen and (min-width: 936px) {
    .page-header {
        margin: 10px auto;
    }
}