.sun-svg {
    height: auto;
    padding: 5px;
    width: 27px;
}

.moon-svg {
    height: auto;
    padding: 5px;
    width: 31px;
}

.toggle-mode {
    cursor: pointer;
    box-shadow: 0 0 3px 1px var(--shadow-0d);
}